<!-- TODO: Look into adding the mat-elevation stuff to make the table pop -->
<table
  #menteeMentorTable
  mat-table
  cdkDropList
  class="mat-elevation-z8"
  [dataSource]="menteeMentorData"
  (cdkDropListDropped)="drop($event)"
>
  <!-- TODO: Verify that this is the correct way to add a caption in the material table -->
  <caption>Table of mentee and mentor matches</caption>
  <ng-container matColumnDef="menteeName">
    <!-- Mentee Name Column -->
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let menteeMentorMatch"> {{menteeMentorMatch.mentee.name}} </td>
  </ng-container>

  <!-- Mentee Email Column -->
  <ng-container matColumnDef="menteeEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let menteeMentorMatch"> {{menteeMentorMatch.mentee.email}} </td>
  </ng-container>

  <!-- Mentor Name Column -->
  <ng-container matColumnDef="mentorName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let menteeMentorMatch"> {{menteeMentorMatch.mentor.name}} </td>
  </ng-container>

  <!-- Mentor Email Column -->
  <ng-container matColumnDef="mentorEmail">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let menteeMentorMatch"> {{menteeMentorMatch.mentor.email}} </td>
  </ng-container>

  <!-- Header row first group -->
  <ng-container matColumnDef="header-row-mentor">
    <th 
      mat-header-cell 
      *matHeaderCellDef 
      style="text-align: center;"
      [attr.colspan]="2"
    > Mentor </th>
  </ng-container>
  
  <!-- Header row second group -->
  <ng-container matColumnDef="header-row-mentee">
    <th
      mat-header-cell
      *matHeaderCellDef
      style="text-align: center;"
      [attr.colspan]="2"
    > Mentee </th>
  </ng-container>

  <!-- TODO: Move into ts file like other header variable -->
  <!-- TODO: Try and move these to the top above the definitions -->
  <tr mat-header-row *matHeaderRowDef="['header-row-mentor', 'header-row-mentee']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
